@import '~node_modules/modern-normalize/modern-normalize.css';



:root {
    // ==========  Fonts  ==========
    --dominant-font: 'Roboto';
    
    // ==========  Fonts-color  ==========
    --dominant-color: #000000;
    --secondary-color: #ffffff;
    --accent-color: #FF6B08;;
    --grey-color-footer: #545454;
    --grey-color-modal: #8C8C8C;

    // ==========  Background-section color  ==========
    --background-color-modal: #ffffff;
    --background-color-gallery: #E5E5E5;
    --background-color-header: rgba(0, 0, 0, 0.56);
    --background-color-footer: #F7F7F7;


    // ==========  Button  ==========
    --button-accent-color: #FF6B01;

    // ========== Nav =========
    --nav-underline-color: #FF001B;

    // ========== Transition  ==========
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

 
}






html {
    scroll-behavior: smooth;
};


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--dominant-font), sans-serif;
    color: var(--dominant-color);
    font-weight: 500;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0px 20px;
    margin: 0 auto;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0px 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.no-scroll {
    overflow: hidden;
}