.library {
    height: 230px;
    width: 100%;

    padding-top: 45px;

    color: var(--secondary-color);

    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/my-library-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/my-library-desktop@2x.jpg');
    }

    @media screen and (max-width: 1199px) {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/my-library-tablet.jpg');
    }

    @media screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (max-width: 1199px) and (min-resolution: 192dpi),
    screen and (max-width: 1199px) and (min-resolution: 2dppx) {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/my-library-tablet@2x.jpg');
    }

    @media screen and (max-width: 767px) {
        padding-top: 40px;
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/my-library-mobile.jpg');

    }

    @media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (max-width: 767px) and (min-resolution: 192dpi),
    screen and (max-width: 767px) and (min-resolution: 2dppx) {
        background-image:
            linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url('../images/my-library-mobile@2x.jpg');
    }
}

.header__nav {
    display: flex;
    align-items: center;

    margin-bottom: 40px;
}

.header__nav-list {
    margin-left: auto;
    display: flex;
    gap: 40px;

    list-style: none;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

}

.header--link {
    text-decoration: none;

    &:visited {
        color: var(--secondary-color);
    }

    &:active {
        color: var(--accent-color);
    }

    &:hover {
        color: var(--accent-color);
    }
}

.header__logo-icon {
    width: 24px;
    height: 24px;
}

.header__logo-text {
    margin-left: 10px;

    font-size: 30px;
    line-height: 1.17;

    @media screen and (max-width: 767px) {
        display: none;
    }
}


.header__link--active {
    border-bottom: 3px solid var(--nav-underline-color);
}


.btn-container {

    display: flex;

    @media screen and (min-width: 340px) {
            display: block;
            text-align: center;
        }

    
}

.wached-btn { 


    min-width: 129px;
    min-height: 44px;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid #FFFFFF;
        border-radius: 5px;

        padding: 0 0;
    
        background-color: transparent;
        color: #FFFFFF;
        border-color: #FFFFFF;

        font-size: 12px;
        line-height: 1.33;
           
        text-align: center;
        text-transform: uppercase;

        &:not(:last-child) {
               margin-right: 18px;
            }


        @media screen and (min-width: 768px) {
            min-width: 152px;
            min-height: 44px;
            
            
            &:not(:last-child) {
                margin-right: 32px;
                }
            
        }

        @media screen and (min-width: 1200px) {
            min-width: 148px;
             min-height: 42px;

            &:not(:last-child) {
                margin-right: 16px;
                    }
                }
       

            &:hover {
                background-color: var(--accent-color);
                border-color: var(--accent-color);
            }
}

.queue-btn { 
    width: 129px;
    height: 44px;

    padding: 0 0;

    border: 1px solid #FFFFFF;
        border-radius: 5px;

    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;

    font-size: 12px;
        line-height: 1.33;
    
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
                min-width: 152px;
                min-height: 44px;
        
            }
        
            @media screen and (min-width: 1200px) {
                min-width: 148px;
                min-height: 42px;

            }

    &:hover {
            background-color: var(--accent-color);
            border-color: var(--accent-color);
        }
    
}

.active {
    background-color: var(--accent-color);
    border-color: var(--accent-color);

}

