<footer class="footer">
  <div class="footer__box">
    <div class="footer__info">
      <span class="footer__text footer__text--border">&#169; 2022</span>
      <span class="footer__text footer__text--border"
        >All Rights Reserved
      </span>
    </div>
    <div class="footer__info">
      <span class="footer__text">Developed with</span>
      <svg class="footer__icon-heart" width="20" height="20">
        <use href="./images/icons.svg#icon-heart"></use>
      </svg>

      <a
        data-modal-open
        type="button"
        id="footer__button"
        class="footer__button"
        href=""
      >
        by GoIT Students
      </a>
    </div>
  </div>
</footer>
