<div class="backdrop__team backdrop-team__is-hidden">
    <div data-modal  class="modal-team modal-team__is-hidden">
        <button data-modal-close type="button" class="modal-team__close-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="modal__icon"
                viewBox="0 0 16 16">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
        </button>

        <ul class="team__container">

            <li class="team__item">
                <a class="team__link" href="https://github.com/YuriiShatskyi">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                                ./images/modal-team/YuriiShatskyi-mobile-140.jpg 140w,
                                ./images/modal-team/YuriiShatskyi-mobile-2x-280.jpg 280w,
                                ./images/modal-team/YuriiShatskyi-tablet-170.jpg 170w,
                                ./images/modal-team/YuriiShatskyi-tablet-2x-340.jpg 340w,
                                ./images/modal-team/YuriiShatskyi-desktop-245.jpg 245w,
                                ./images/modal-team/YuriiShatskyi-desktop-2x-490.jpg 490w"
                            sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                            src="./images/modal-team/YuriiShatskyi-mobile-140.jpg"
                            alt="Yurii Shatskyi"
                            width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Yurii Shatskyi</h2>
                        <p class="team__role">Team Lead</p>
                    </div>
                 </a>
            </li>


            <li class="team__item">
                <a class="team__link" href="https://github.com/LizaPoperechna">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                                ./images/modal-team/LizaPoperechna-mobile-140.jpg 140w,
                                ./images/modal-team/LizaPoperechna-mobile-2x-280.jpg 280w,
                                ./images/modal-team/LizaPoperechna-tablet-170.jpg 170w,
                                ./images/modal-team/LizaPoperechna-tablet-2x-340.jpg 340w,
                                ./images/modal-team/LizaPoperechna-desktop-245.jpg 245w,
                                ./images/modal-team/LizaPoperechna-desktop-2x-490.jpg 490w"
                            sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                            src="./images/modal-team/LizaPoperechna-mobile-140.jpg"
                            alt="Liza Poperechna"
                            width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Liza Poperechna</h2>
                        <p class="team__role">Scrum</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link" href="https://github.com/DubeiA">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                                ./images/modal-team/AnatoliiDubei-mobile-140.jpg 140w,
                                ./images/modal-team/AnatoliiDubei-mobile-2x-280.jpg 280w,
                                ./images/modal-team/AnatoliiDubei-tablet-170.jpg 170w,
                                ./images/modal-team/AnatoliiDubei-tablet-2x-340.jpg 340w,
                                ./images/modal-team/AnatoliiDubei-desktop-245.jpg 245w,
                                ./images/modal-team/AnatoliiDubei-desktop-2x-490.jpg 490w"
                            sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                            src="./images/modal-team/AnatoliiDubei-mobile-140.jpg" 
                            alt="Anatolii Dubei" 
                            width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Anatolii Dubei</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link" href="https://github.com/yulia-mazurenko">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                            ./images/modal-team/YuliaMazurenko-mobile-140.jpg 140w,
                            ./images/modal-team/YuliaMazurenko-mobile-2x-280.jpg 280w,
                            ./images/modal-team/YuliaMazurenko-tablet-170.jpg 170w,
                            ./images/modal-team/YuliaMazurenko-tablet-2x-340.jpg 340w,
                            ./images/modal-team/YuliaMazurenko-desktop-245.jpg 245w,
                            ./images/modal-team/YuliaMazurenko-desktop-2x-490.jpg 490w"
                        sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                        src="./images/modal-team/YuliaMazurenko-mobile-140.jpg" 
                        alt="Yulia Mazurenko" 
                        width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Yulia Mazurenko</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
            <a class="team__link" href="https://github.com/MartaSyvyk">
                <div class="team__img-wrapper">
                    <img class="team__img" srcset="
                        ./images/modal-team/MartaSyvyk-mobile-140.jpg 140w,
                        ./images/modal-team/MartaSyvyk-mobile-2x-280.jpg 280w,
                        ./images/modal-team/MartaSyvyk-tablet-170.jpg 170w,
                        ./images/modal-team/MartaSyvyk-tablet-2x-340.jpg 340w,
                        ./images/modal-team/MartaSyvyk-desktop-245.jpg 245w,
                        ./images/modal-team/MartaSyvyk-desktop-2x-490.jpg 490w"
                    sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                    src="./images/modal-team/MartaSyvyk-mobile-140.jpg" 
                    alt="Marta Syvyk" 
                    width="140" height="140"/>
                </div>
                <div class="team__info">
                    <h2 class="team__student-name">Marta Syvyk</h2>
                    <p class="team__role">Developer</p>
                </div>
            </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/KorotkayaNastuha">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                            ./images/modal-team/NastyaKorotchuk-mobile-140.jpg 140w,
                            ./images/modal-team/NastyaKorotchuk-mobile-2x-280.jpg 280w,
                            ./images/modal-team/NastyaKorotchuk-tablet-170.jpg 170w,
                            ./images/modal-team/NastyaKorotchuk-tablet-2x-340.jpg 340w,
                            ./images/modal-team/NastyaKorotchuk-desktop-245.jpg 245w,
                            ./images/modal-team/NastyaKorotchuk-desktop-2x-490.jpg 490w"
                        sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                        src="./images/modal-team/NastyaKorotchuk-mobile-140.jpg" 
                        alt="Nastya Korotchuk" 
                        width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Nastya Korotchuk</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/RostyslavSuprun">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                            ./images/modal-team/RostyslavSuprun-mobile-140.jpg 140w,
                            ./images/modal-team/RostyslavSuprun-mobile-2x-280.jpg 280w,
                            ./images/modal-team/RostyslavSuprun-tablet-170.jpg 170w,
                            ./images/modal-team/RostyslavSuprun-tablet-2x-340.jpg 340w,
                            ./images/modal-team/RostyslavSuprun-desktop-245.jpg 245w,
                            ./images/modal-team/RostyslavSuprun-desktop-2x-490.jpg 490w"
                        sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                        src="./images/modal-team/RostyslavSuprun-mobile-140.jpg" 
                        alt="Rostyslav Suprun" 
                        width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Rostyslav Suprun</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/AleXKeepeR21">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                            ./images/modal-team/OleksandrKhudik-mobile-140.jpg 140w,
                            ./images/modal-team/OleksandrKhudik-mobile-2x-280.jpg 280w,
                            ./images/modal-team/OleksandrKhudik-tablet-170.jpg 170w,
                            ./images/modal-team/OleksandrKhudik-tablet-2x-340.jpg 340w,
                            ./images/modal-team/OleksandrKhudik-desktop-245.jpg 245w,
                            ./images/modal-team/OleksandrKhudik-desktop-2x-490.jpg 490w"
                        sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                        src="./images/modal-team/OleksandrKhudik-mobile-140.jpg" 
                        alt="Oleksandr Khudik" 
                        width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Oleksandr Khudik</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link"  href="https://github.com/YuriPanchuck">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                            ./images/modal-team/YuriiPanchuck-mobile-140.jpg 140w,
                            ./images/modal-team/YuriiPanchuck-mobile-2x-280.jpg 280w,
                            ./images/modal-team/YuriiPanchuck-tablet-170.jpg 170w,
                            ./images/modal-team/YuriiPanchuck-tablet-2x-340.jpg 340w,
                            ./images/modal-team/YuriiPanchuck-desktop-245.jpg 245w,
                            ./images/modal-team/YuriiPanchuck-desktop-2x-490.jpg 490w"
                        sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                        src="./images/modal-team/YuriiPanchuck-mobile-140.jpg" 
                        alt="Yurii Panchuck" 
                        width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Yurii Panchuck</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

            <li class="team__item">
                <a class="team__link" href="https://github.com/ruchey34">
                    <div class="team__img-wrapper">
                        <img class="team__img" srcset="
                            ./images/modal-team/OlehMerkulov-mobile-140.jpg 140w,
                            ./images/modal-team/OlehMerkulov-mobile-2x-280.jpg 280w,
                            ./images/modal-team/OlehMerkulov-tablet-170.jpg 170w,
                            ./images/modal-team/OlehMerkulov-tablet-2x-340.jpg 340w,
                            ./images/modal-team/OlehMerkulov-desktop-245.jpg 245w,
                            ./images/modal-team/OlehMerkulov-desktop-2x-490.jpg 490w"
                        sizes="(min-width: 1280px) 245px, (min-width: 768px) 170px, (max-width: 767px) 140px, 100vw"
                        src="./images/modal-team/OlehMerkulov-mobile-140.jpg" 
                        alt="Oleh Merkulov" 
                        width="140" height="140"/>
                    </div>
                    <div class="team__info">
                        <h2 class="team__student-name">Oleh Merkulov</h2>
                        <p class="team__role">Developer</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>